
<section>
    Los datos personales de ontacto solicitados y en su caso los patrimoniales o sensibles que no quiera compartir en su Curriculum Vitae (»Los datos»), son tratados para fines de contacto en su caso de existir una vacante y para iniciar el proceso de reclutamiento y, en su caso, de selección por la empresa Humres S.A. de CV. con domicilio en Avenida Juárez 660, Colonia Centro en Guadalajara, Jalisco y/o las empresas controladoras de esta última y/o nuestras empresas filiales y/o subsidiarias y/o aquellos terceros que, por la naturaleza de sus trabajos o funciones tengan la necesidad de tratar y/o utilizar sus datos personales cuando tenga fines relacionados con ofertas de empleo. Consulta completo el aviso de privacidad en http://galeon.com/avisodeprivacidad/
</section>

<p>
    @Html.ActionLink("Preguntas frecuentes", "PreguntasFrecuentes")
</p>