<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>preguntas frecuenteas </title>

    @*<link rel="stylesheet" href="sweet-alert.css" />*@
    @*<link rel="stylesheet" href="materialize.css" />*@


    <link href="~/Content/materialize/css/materialize.css" rel="stylesheet" />

    <script>
    $(function OK() {
        var error = document.getElementById("alerta").innerText;
            if (error != "" ){
            alert("error");
        }
    });
    </script>

    <script>

        swal('The Internet?','That thing is still around?','question')

    </script>




</head>
<body>

    <div style="padding-top:2%"><label style="color: yellow;font-size:20px">></label><label style="color:#003f80;font-size:20px">Preguntas frecuentes</label></div>
      

    <div class="container">
        <div class="row">
            <div class="ocl s12 m12 l12">
                <ul class="collapsible" data-collapsible="accordion">

                    <li>
                        <div class="collapsible-header" style="background-color: #003f80;color: white">
                            <i class="material-icons">
                            </i><label style="color: yellow">></label>  1. ¿Cómo puedo aplicar a una vacante que me interesa?
                        </div>
                        <div class="collapsible-body">
                            <span>
                                a)	Inicia sesión y selecciona el módulo de ‘Buscar’ del menú de opciones del sistema.
                                <br>
                                b)	Da clic en Ver+ de los resultados de búsqueda de vacantes y en el Detalle de la vacante da clic en el botón ‘Postularme’.
                                <br>
                                c)	¡Listo! Recibimos tu CV, donde se filtra y selecciona, además podrás ver el estatus de la vacante en el módulo de Postulaciones.
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header" style="background-color: #003f80;color: white">
                            <i class="material-icons">
                            </i><label style="color: yellow">></label> 2.	¿Me puedo postular a varias vacantes al mismo tiempo?
                        </div>
                        <div class="collapsible-body">
                            <span>
                                Sí puedes postularte, sin embargo al momento en que seas seleccionado para continuar en un proceso no podrás seguir
                                <br>
                                otro más, de manera simultánea por lo que te sugerimos revisar muy bien las ofertas de trabajo y seleccionar la que te resulte más
                                <br>
                                atractiva.
                            </span>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header" style="background-color: #003f80;color: white">
                            <i class="material-icons">
                            </i><label style="color: yellow">></label> 3.	¿Cómo sabré cuando haya una vacante que me interese?
                        </div>
                        <div class="collapsible-body">
                            <span>
                                Puedes crear notificaciones que llegarán a tu correo electrónico, basadas en tus preferencias. Puedes editar tus preferencias desde el
                                <br>
                                módulo de Mis Alertas.
                            </span>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header" style="background-color: #003f80;color: white">
                            <i class="material-icons">
                            </i><label style="color: yellow">></label> 4.	¿Cómo sé si fui seleccionado para iniciar con el proceso de reclutamiento?
                        </div>
                        <div class="collapsible-body">
                            <span>
                                De haber cumplido con los requisitos de la vacante, uno de nuestros colaboradores te contactará por alguno de los medios que nos
                                <br>
                                proporcionaste para informarte sobre los siguientes pasos a seguir.
                            </span>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header" style="background-color: #003f80;color: white">
                            <i class="material-icons">
                            </i><label style="color: yellow">></label> 5.	¿Cuánto tiempo debo esperar para que me contacten?
                        </div>
                        <div class="collapsible-body">
                            <span>
                                Para DAMSA todos los candidatos son importantes sin embargo para cada uno de los perfiles se selecciona a los que más se apegan, por lo que
                                <br>
                                si no fueras llamado tu curriculum sigue estando en la lista para futuras postulaciones.
                            </span>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header" style="background-color: #003f80;color: white">
                            <i class="material-icons">
                            </i><label style="color: yellow">></label> 6.	¿Cómo sabré cuando una vacante que me interese deje de estar vigente?
                        </div>
                        <div class="collapsible-body">
                            <span>
                                El sistema enviará un aviso de que se cerró la posición. Si no fuiste contactado para la vacante en cuestión te invitamos a seguir atento a
                                <br>
                                futuras vacantes que se publiquen.
                            </span>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header" style="background-color: #003f80;color: white">
                            <i class="material-icons">
                            </i><label style="color: yellow">></label> 7.	¿Por qué no me llaman?
                        </div>
                        <div class="collapsible-body">
                            <span>
                                DAMSA reciben una gran cantidad de CVs por cada vacante que publica. Para facilitar el proceso de selección, DAMSA cuenta con herramientas
                                <br>
                                para filtrar los candidatos en base a los requisitos del puesto. Durante el filtrado, muchos candidatos pueden quedar en bolsa por no
                                <br>
                                cumplir con el perfil requerido. Para maximizar tus posibilidades de ser considerado a proceso, te sugerimos agregar todos tus
                                <br>
                                conocimientos, habilidades y experiencia a tu información curricular.
                            </span>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header" style="background-color: #003f80;color: white">
                            <i class="material-icons">
                            </i> <label style="color: yellow">></label> 8.	¿Cuánto tiempo puede pasar desde que me contactan hasta la contratación?
                        </div>
                        <div class="collapsible-body">
                            <span>
                                Dependerá de la complejidad de cada vacante, ya que en algunas de ellas el proceso de contratación es inmediato, pero en otros casos
                                <br>
                                debemos esperar resultados de exámenes adicionales que nos solicitan.
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header" style="background-color: #003f80;color: white">
                            <i class="material-icons">
                            </i> <label style="color: yellow">></label> 9.	¿Cuánto tiempo estará mi curriculum en la bolsa?
                        </div>
                        <div class="collapsible-body">
                            <span>
                                Tu curriculum estará en la bolsa indefinidamente hasta que tú decidas desactivarlo.
                            </span>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header" style="background-color: #003f80;color: white">
                            <i class="material-icons">
                            </i> <label style="color: yellow">></label> 10.	¿Puedo eliminar mi CV de la bolsa de trabajo?
                        </div>
                        <div class="collapsible-body">
                            <span>
                                Por cuestiones estadísticos la información no se elimina pero si la puedes desactivar para que no esté visible para los reclutadores y no
                                <br>
                                seas llamado para participar en ofertas futuras. Podrás reactivarlo cuando tú quieras.
                            </span>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header" style="background-color: #003f80;color: white">
                            <i class="material-icons">
                            </i> <label style="color: yellow">></label> 11.	Mi CV tuvo cambios recientemente ¿lo puedo modificar?
                        </div>
                        <div class="collapsible-body">
                            <span>
                                En el momento que tú lo requieras podrás ingresar a hacerle las modificaciones a tu CV.
                            </span>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header" style="background-color: #003f80;color: white">
                            <i class="material-icons">
                            </i> <label style="color: yellow">></label> 12.	¿Puedo acudir directamente a Damsa si no me han llamado para ser atendido?
                        </div>
                        <div class="collapsible-body">
                            <span>
                                Claro que puedes asistir, solo te pediremos un poco de paciencia para ser atendido de acuerdo a disponibilidad de espacio.
                            </span>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header" style="background-color: #003f80;color: white">
                            <i class="material-icons">
                            </i> <label style="color: yellow">></label> 13.	¿Cómo puedo cambiar mis datos de acceso?
                        </div>
                        <div class="collapsible-body">
                            <span>
                                a)	Inicia sesión y da clic en tu nombre de usuario (parte superior derecha de la pantalla)
                                <br>
                                b)	Seleccione la opción ‘Configuración de cuenta’.
                                <br>
                                c)	Dirígete a la sección de cambiar correo electrónico o teléfono o contraseña.
                                <br>
                                d)	Captura el nuevo correo electrónico o teléfono o contraseña y finalmente da clic en el botón Cambiar.
                            </span>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header" style="background-color: #003f80;color: white">
                            <i class="material-icons">
                            </i> <label style="color: yellow">></label> 14.	¿Qué datos de mi currículum ve Damsa?
                        </div>
                        <div class="collapsible-body">
                            <span>
                                Damsa ve todos tus datos que has introducido al registrar tu currículum. Si modificas tu currículum la empresa siempre verá la última
                                <br>
                                actualización, incluso en las ofertas en las que te has postulado previamente.
                            </span>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header" style="background-color: #003f80;color: white">
                            <i class="material-icons">
                            </i> <label style="color: yellow">></label> 15.	¿Quién puede ver mi currículum?
                        </div>
                        <div class="collapsible-body">
                            <span>
                                Todos los ejecutivos de reclutamiento que tienen vacantes donde puedes aplicar o el ejecutivo que publicó específicamente la vacante a la
                                <br>
                                que te postulaste.
                            </span>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header" style="background-color: #003f80;color: white">
                            <i class="material-icons">
                            </i> <label style="color: yellow">></label> 16.	¿Cómo puedo contactar con la empresa si no veo el e-mail de contacto?
                        </div>
                        <div class="collapsible-body">
                            <span>
                                Al postularse a una oferta, ya estás a la vista del ejecutivo de reclutamiento que publicó la oferta y se pondrá en contacto contigo
                                <br>
                                siempre que vea afinidad de tu perfil con el de la vacante a cubrir.
                            </span>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header" style="background-color: #003f80;color: white">
                            <i class="material-icons">
                            </i> <label style="color: yellow">></label> 17.	¿Cuántas veces puedo postularme a la misma oferta?
                        </div>
                        <div class="collapsible-body">
                            <span>
                                Solo te puedes postular a cada oferta una vez, si intentas postularte nuevamente a la vacante el sistema te indicara que ya estas postulado.
                            </span>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header" style="background-color: #003f80;color: white">
                            <i class="material-icons">
                            </i> <label style="color: yellow">></label> 18.	¿Cómo puedo ver si la empresa ha recibido mi postulación correctamente?
                        </div>
                        <div class="collapsible-body">
                            <span>
                                Al momento de postularte podrás ver el estatus de la vacante en el módulo de Postulaciones y ¡Listo! recibimos tu CV, donde se filtra y
                                <br>
                                selecciona.
                            </span>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header" style="background-color: #003f80;color: white">
                            <i class="material-icons">
                            </i> <label style="color: yellow">></label> 19.	Olvidé mi contraseña, ¿cómo puedo acceder?
                        </div>
                        <div class="collapsible-body">
                            <span>
                                a)	Haz clic en Iniciar sesión y selecciona la liga ¿Olvidaste tu contraseña?
                                <br>
                                b)	Selecciona una de las siguientes opciones:
                                <br>
                                i.	Responder las preguntas de seguridad
                                <br>
                                ii.	Recibir un correo electrónico.
                                <br>
                                iii.	Recibir clave de recuperación.
                                <br>
                                c)	Introduce tu correo electrónico o teléfono y siga los pasos para cada una de las opciones.
                                <br>
                                d)	Al final ingresa la nueva contraseña.

                            </span>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header" style="background-color: #003f80;color: white">
                            <i class="material-icons">
                            </i> <label style="color: yellow">></label>
                             20.¿Dónde puedo ver cómo avanzan los procesos de selección en las ofertas a las que me he postulado?
                        </div>
                        <div class="collapsible-body">
                            <span>
                                a)	Inicia sesión y selecciona el módulo de ‘Postulaciones’ del menú de opciones del sistema.
                                <br>
                                b)	Aquí podrás ver el estatus de cada vacante a las que te has Postulado.
                            </span>
                        </div>
                    </li>                  
                </ul>
                <span style="color:#003f80">No encontraste la solución a tu problema,  contáctanos.</span>


                @*<a href="#" class="btn btn-primary miProblema">Reportar Problema</a>*@

                <button type="button" id="miProblema" class="btn btn-primary"  data-toggle="modal" data-target="#myModalProblema">Reportar un problema 
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModalProblema" role="dialog">
                    <div class="modal-dialog">
                    
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h5 class="modal-title">Raportar un Problema</h5>
                            </div>
                            <div class="modal-body">
                                <div id="ReportarProblemapartial"></div>
                            </div>

                            @*<div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>*@
                   
                    </div>
                </div>


                <!-- Modal Trigger -->
                @*<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>*@

                <!-- Modal Structure -->
                @*<div id="modal1" class="modal">
                 
                        <h4>Modal Header</h4>
                        <p>A bunch of text</p>


                    <div class="modal-body">
                        <div id="resultado"></div>
                    </div>
               
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>*@





            </div>
        </div>
    </div>







   
    <!--<link src="jquery-1.10.2.min.js"  />-->
    <!-- <link src="materialize.js"  />-->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- <script src = "https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->


    <script type="text/javascript">
        $(document).ready(function () {

            $('#miProblema').click(function () {
              

      	          $("#ReportarProblemapartial").load("/Account/ReportarProblema",
      	          function(){
      	              $('#myModalProblema').modal("show");
      	          }
                  );
      	      });
        });
    </script>



    <script>
    function GuardarProblema() {

        //alert("entro a la funcion del boton");
        //document.getElementById("btn").disabled = true;

        var Email = $("#email").val();
        var Commentary = $("#commentary").val();

        $.ajax({
            type: "POST",
            url: "/AccesoBolsaTrabajo3/Account/ReportarProblema",
            dataType: "json",
            data: {
                Email: Email,
                Commentary: Commentary,
            },
            success: function (resultado) {
                alert("entro a la funcion del boton2");

                if (resultado == "") {
                    //$("#Alerta").css("display","visible");

                    alert("red");
                }

                $("#ContenedorToken").text(resultado);
            }, error: function (e) { alert(e) }
        });
    }

    </script>


    @*<script>
        function Reportarproblema() {
            alert(entro);

            $.ajax({
                dataType: "html",
                url: "/AccesoBolsaTrabajo/Account/PreguntasFrecuentes",
                data: {
                },
                success: function (resultado) {

                    alert(entro2);
                    $("#miProblema").click();
                    alert(entro3);
                    $("#ReportarProblemapartial").html(resultado);
                }
            });
        }
    </script>*@



    <div id="alerta" hidden>
        @ViewBag.Message
    </div>

</body>
</html>
